Source: portprotonqt
Section: utils
Priority: optional
Maintainer: Ivan Mazhukin <vanyamajukin@outlook.com>
Build-Depends:
 debhelper-compat (= 13),
 gettext,
 libvulkan-dev,
 meson,
 ninja-build,
 pkgconf,
 python3,
Standards-Version: 4.7.0
Homepage: https://git.linux-gaming.ru/Linux-Gaming/PortProtonQt
Rules-Requires-Root: no

Package: portprotonqt
Architecture: linux-any
Depends:
 7zip,
 cabextract,
 curl,
 file,
 gawk,
 libimage-exiftool-perl,
 libsdl3-0,
 mesa-utils,
 pciutils,
 procps,
 psmisc,
 python3,
 python3-babel,
 python3-dbus-fast,
 python3-evdev,
 python3-libarchive-c,
 python3-orjson,
 python3-pefile,
 python3-pil,
 python3-psutil,
 python3-pyside6.qtcore,
 python3-pyside6.qtgui,
 python3-pyside6.qtmultimedia,
 python3-pyside6.qtnetwork,
 python3-pyside6.qtsvg,
 python3-pyside6.qtwidgets,
 python3-qrcode,
 python3-rapidfuzz,
 python3-requests,
 python3-tqdm,
 python3-vdf,
 python3-websocket,
 qt6-image-formats-plugins,
 qt6-svg-plugins,
 unrar-free,
 unzip,
 xz-utils,
 zstd,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 bluez,
 network-manager,
 pulseaudio-utils,
 squashfs-tools,
 udisks2,
 upower,
Description: GUI for managing PortProton and Steam games
 PortProtonQt provides a graphical interface for managing and launching
 games from PortProton and Steam.
