polkit.addRule(function(action, subject) {
	var cmd_line = polkit.spawn(["ps", subject.pid]);
    if (  (
    action.id === "org.freedesktop.NetworkManager.settings.modify.system" ||
	action.id == "org.freedesktop.udisks2.filesystem-mount-system" ||
	action.id == "org.freedesktop.udisks2.filesystem-mount-other-seat" ||
	action.id == "org.freedesktop.udisks2.filesystem-unmount-others" ) &&
    cmd_line.includes("ppqtos"))
    {
    return polkit.Result.YES;
    }
});
